TestResult.xml
build/
[Dd]ebug
[Rr]elease
obj/
_ReSharper.*
*.ReSharper.user
*.resharper.user
*.csproj.user
*.ncb
*.aps
*.suo
*.sln.cache
Visual Studio 2010\
Visual Studio 2010Projects\
Visual Studio 2010Templates\
*.ncruchsolution*

